<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyclone</title>
    <script type="module" crossorigin src="js/index.9ce1a9b1.js"></script>
    <link rel="stylesheet" href="index.1f357d6c.css">
  </head>
  <body>
    <div class="panel">
      <h1>Pointage</h1>
      <h4>0</h4>
    </div>
    <ul class="cyclone">
      <li class="dot yellow"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot "></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot red"></li>
      <li class="dot red-dark"></li>
      <li class="dot red"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
  </body>
</html>
